img.menu
{
	height: 200px;
	width: auto;
}

#harga, #stok
{
	padding-left:0;
}

.search-menu
{
	margin-bottom: 10px;
    margin-top: 20px;
}

.selesai-menu
{
	margin-left: 85%;
	position:relative;
}

.after-order-btn
{
	width: 300px;
}

table.borderless
{
    border: none;
}

.center-block
{
	float:none;
}

.meja
{
	margin-right:10px;margin-bottom:10px; width:200px; height:200px;
}